body{
    background:#333;
    font-family:verdana;
    max-width: 900px;
    margin: auto;

}

.photo{
    border: 2px solid #D8BFD8;
    border-radius:50%;
    margin:0 auto;
    width: 100%;
    max-width: 500px;
}

.title, .subtitle, .post_title {
    color: purple;
} 

.title{
    font-size:40px;
    text-transform: uppercase;
}

.a{
    text-decoration:line-through;
    color:antiquewhite;

}


.post_title{
    font-size:16px;
    font-style:italic;
    margin:0;
    margin-bottom:15px;
}

.post  {
background: #D8BFD8;    
    padding: 15px;
    border: 3px solid #E6E6FA;
    margin:10px;
    margin-bottom:15px;
    border-radius:5px;

}

.post_content{
    margin:0px;
    margin-bottom:15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
}

.contacts_list{
    list-style-type: none;
    padding-left:15px;
}

.contacts_list li a {
    color:yellow;
    text-decoration:none;

}