# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários de build
dist/
build/

# Variáveis de ambiente
.env

# Cache do npm
.npm/

# Diretórios de IDEs
.vscode/
.idea/

# Arquivos de lock antigos
package-lock.json
yarn.lock
