body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green
}
.center{
    text-align: center;
}
h1{
    color: green
}
footer img{
    width: 40px;
    height: 40;
}
footer{
    display: flex;
    justify-content: center ;
}
footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin: 2px;

}
.container{
    padding: 0px 50px;
}
nav a:hover{
    color: green;
}
