#calculadora table {
    margin: 0 auto;
    padding: 0;
 
    background-color: #CFD8DC; 
    border: 0 double black;
    font-size: 2rem;
    border: 1px solid gray;

  }
 
  #calculadora tr {
    width: 100%;
    height: 100%;
    
  }
  
  #calculadora tr td input {
    width: 100%;
    height:100%;
  }
  
  #calculadora td input:hover {
    color: #fff;
    background-color: #546E7A;
  }
  
  #calculadora td input#tela {
    text-align: right;
  }
  
  #calculadora td input#tela:hover {
    color: #000;
    background-color: #fff;
  }

  .footer{
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    font-size: 1.3rem;
  }

  .footer a{
    color: purple;
  }

  .footer a:hover{
    color: blue;
  }